<div>
	<input type="hidden" name="originalDefaultImage" id="originalDefaultImage" value="{{newWishlistItem.image}}">
	<section>
		<div class="container">
			<div class="row">  	
				<div class="col-sm-12">
					<div class="contact-form">
						<h2 class="title text-center">Set Budget</h2>
			    	
			            <div class="form-group col-md-12">
			                <input type="text" placeholder="Budget" ng-model="aBudget" class="form-control" />
			            </div>
			            <div class="form-group col-md-12">
        					<button type="button" class="btn btn-primary pull-right" ng-click="SaveBudget();">
								Submit
							</button>
			            </div>
					</div>
				</div>   			
			</div>
		</div>
	</section>
</div>